body{
color: rgb(250, 250, 250);
text-align: center;
color: black;
  background-image: url("bg.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
   background-size: cover;  
   margin: 0%;
   padding: 0%;
}
.h3{
  font-size: 30px;
}
.input{
   width: 40%;
  height: 40%;
    background-color: white;
  border-radius: 7px;
  box-shadow: white; 

}
#bt {
  background-color: #e7e7e7; color: black; /* Gray */
  border-radius: 25px;
  border: 2px solid rgb(51, 75, 110);
  padding: 20px;
  width: 20%;
  height: 10%x;
}
.time{
width: 30%;
height: 10%;
  border: 2px solid rgb(51, 75, 110);
  padding: 20px;

}
h1{
  text-align: center;
}
.about{
float: right;
width:50%;
text-align: center;
font-family: Helvetica, Arial, sans-serif;
font-size: 150%;
text-shadow: 1px 1px 1px grey,
            2px 2px 1px grey;
}
div{
  background-image: url("https://www.freecodecamp.org/news/content/images/size/w2000/2021/06/w-qjCHPZbeXCQ-unsplash.jpg");
}
